<template>
  <div class="q-pa-md row col-12">
    <div class="row col-12 q-gutter-sm">
      <!--  -->
      <!-- List -->
      <!--  -->

      <!-- 0. Adaptyvus atvaizdavimas (rodoma tik didesniems nei 'small' ekranamas) -->
      <div class="col-md-4 gt-sm">
        <h4>List</h4>

        <!-- 1. For ciklas dinaminiam elementų atvaizdavimui v-for -->
        <!-- 2. Parametrizuoti komponentai (perduodame :documentObject) -->
        <!-- 3. Event binding @clicked - callback priskyrimas -->
        <DocumentListItem
          :documentObject="document"
          @clicked="previewDocument"
          v-for="document in documents"
          :key="document.name"
        />
      </div>
      <!--  -->
      <!--  -->
      <!--  -->

      <!-- -------------------------------------- -->

      <!--  -->
      <!-- Preview -->
      <!--  -->
      <div class="col-md-7 col-xs-12">
        <h4>Preview</h4>
        <DocumentPreview
          v-if="activeDocument"
          :documentObject="activeDocument"
        />
      </div>
      <!--  -->
      <!--  -->
      <!--  -->
    </div>
  </div>
</template>

<script>
// import DocumentListComponent from "@/components/DocumentListComponent.vue";
// import DocumentListComponent from "./DocumentListComponent.vue";
import HeaderBarLink from "components/header-bar-link.vue";
import DocumentListItem from "components/document-list-item.vue";
import DocumentPreview from "components/document-preview.vue";

export default {
  // Komponento vardas
  name: "DocumentPage",

  // Komponento vaikiniai komponentai
  components: { DocumentListItem, DocumentPreview },

  // Dinamiškai apskaičiuojami atributai (vietoje to, kad 'getter' metodus kviestume)
  computed: {
    activeDocument() {
      let activeDocument = this.documents.find(document => document.isActive);
      console.log(`Active document: ${activeDocument}`);
      return activeDocument;
    }
  },

  // Komponento būsenos aprašymas
  data() {
    return {
      // TODO: dokumentus reiktų tvarkyti su Vuex (kadangi šitus įrašus gautume iš REST servisų)
      documents: [
        {
          name: "Dėl savanoriško išėjimo iš darbo",
          date: "2020-07-20",
          type: "ADOC",
          isActive: false
        },
        {
          name: "Sutartis",
          date: "2020-07-16",
          type: "PdfLt",
          isActive: false
        },
        {
          name: "Ataskaita",
          date: "2020-07-13",
          type: "ADOC",
          isActive: false
        }
      ]
      // previewedDocument: {}
    };
  },
  methods: {
    addDocument() {
      this.documents.push({
        name: "Naujas pavadinimas",
        date: "2020-07-20",
        type: "PdfLt",
        isActive: false
      });
    },
    previewDocument(documentObject) {
      const foundDocument = this.documents.find(
        document => document === documentObject
      );
      this.documents.forEach(doc => (doc.isActive = false));
      foundDocument.isActive = true;
      // this.previewedDocument = documentObject;
      console.log(`Previewed document: ${foundDocument.name}`);
    }
  }
};
</script>

<style lang="scss" scoped></style>
