<template>
  <!-- 1. Selektyvus stilizavimas su :class -->
  <q-card
    flat
    bordered
    class="my-card q-gutter-sm"
    :class="{ 'bg-info': documentObject.isActive }"
  >
    <div class="q-pa-lg col-12" @click="handleClick">
      <b class="row">{{ documentObject.name }}</b>
      <div class="row">
        <span class=" ">{{ documentObject.date }}</span>
        <span class=" on-right">{{ documentObject.type }}</span>
      </div>
    </div>
  </q-card>
</template>

<script>
export default {
  name: "DocumentListItem",
  props: {
    documentObject: {
      type: Object,
      required: true
    }
  },
  methods: {
    handleClick() {
      this.$emit("clicked", this.documentObject);
    }
  }
};
</script>

<style lang="scss" scoped></style>
