<template>
  <div class="q-pa-md">
    <h1>Simple heading</h1>
    <p>
      <span @click="toggleHiddenText">Lorem</span>
      ipsum dolor sit amet, consectetur adipiscing elit. In mattis purus eget
      vestibulum pellentesque. Integer nec augue vitae odio dapibus fringilla.
      Ut velit felis, accumsan eget odio sit amet, auctor egestas leo. Ut
      vehicula, ligula ut pharetra blandit, tortor metus blandit neque, eu
      semper dolor nulla ut lorem. Vestibulum ultricies eu ante ac molestie.
      Quisque fermentum vulputate tortor id suscipit. Nunc finibus orci nec nisl
      accumsan maximus quis rutrum purus. Proin sagittis magna sit amet molestie
      hendrerit. Sed quis placerat enim. Nam consequat pretium sapien,
      sollicitudin auctor tortor pharetra id. Sed efficitur est vitae dictum
      varius.
    </p>
    <br />
    <p class="secret" v-if="showHiddenText">Super secret text!!!</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showHiddenText: false
    };
  },
  methods: {
    toggleHiddenText() {
      this.showHiddenText = !this.showHiddenText;
    }
  }
};
</script>

<style lang="scss" scoped>
.secret {
  color: red;
  font-size: xxx-large;
}
</style>
