<template>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <q-card class="my-card">
        <q-card-section>
          {{ lorem }}
        </q-card-section>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-3">
      <q-card class="my-card">
        <q-card-section>
          {{ lorem }}
        </q-card-section>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-3">
      <q-card class="my-card">
        <q-card-section>
          {{ lorem }}
        </q-card-section>
      </q-card>
    </div>
    <!-- gt-xs IS hidden-xs in Bootstrap -->
    <div class="gt-xs col-sm-3 ">
      <q-card class="my-card last-item">
        <q-card-section>
          {{ lorem }}
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      lorem:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  }
};
</script>

<style lang="scss" scoped>
.last-item {
  background-color: lightgrey;
}
</style>
