<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label header class="text-grey-8">
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

export default {
  name: "MainLayout",

  components: {
    EssentialLink
  },

  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: "Quasar documentation",
          caption: "Resource for all Quasar components and more",
          icon: "school",
          link: "https://quasar.dev"
        },
        {
          title: "Essential extensions for VSCode ",
          icon: "school",
          link: "https://quasar.dev/start/vs-code-configuration"
        },
        // {
        //   title: "Github",
        //   caption: "github.com/quasarframework",
        //   icon: "code",
        //   link: "https://github.com/quasarframework"
        // },
        // {
        //   title: "Discord Chat Channel",
        //   caption: "chat.quasar.dev",
        //   icon: "chat",
        //   link: "https://chat.quasar.dev"
        // },
        // {
        //   title: "Forum",
        //   caption: "forum.quasar.dev",
        //   icon: "record_voice_over",
        //   link: "https://forum.quasar.dev"
        // },
        // {
        //   title: "Twitter",
        //   caption: "@quasarframework",
        //   icon: "rss_feed",
        //   link: "https://twitter.quasar.dev"
        // },
        // {
        //   title: "Facebook",
        //   caption: "@QuasarFramework",
        //   icon: "public",
        //   link: "https://facebook.quasar.dev"
        // },
        // {
        //   title: "Quasar Awesome",
        //   caption: "Community Quasar projects",
        //   icon: "favorite",
        //   link: "https://awesome.quasar.dev"
        // },
        {
          title: "Vue.js fundamentals",
          caption: "Awesome Pluralsight course on Vue.js",
          icon: "school",
          link:
            "https://app.pluralsight.com/library/courses/vuejs-fundamentals/table-of-contents/"
        },
        {
          title: "This project's git repository",
          // caption: "github.com/quasarframework",
          icon: "code",
          link: "https://gitlab.com/JohnLogic/quasar-docs-example"
        },
        {
          title: "My contact email",
          // caption: "github.com/quasarframework",
          icon: "mail",
          link: "mailto: jbrusokas@gmail.com"
        }
      ]
    };
  }
};
</script>
